{{ ansible_managed | comment }}
[Unit]
Description=fprobe netflow collector
Requires=network.target

[Service]
Type=simple
{% if ansible_os_family == 'RedHat' %}
ExecStart=/usr/bin/fprobe-ulog -c /var/tmp {{ fprobe_flow_collector }} -l 3
{% else %}
ExecStart=/usr/sbin/fprobe -i{{ fprobe_if }} {{ fprobe_args }} {{ fprobe_flow_collector }} -l 3
{% endif %}
TimeoutSec=30
RestartSec=15s
Restart=always

[Install]
WantedBy=multi-user.target
